body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
section{
    height: 500px;
    padding-bottom: 80px;
}
.top-banner{
    max-width: 100%;
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
.left{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;

}
.left h3{
    font-weight: 500;
}
p{
    color: #81797C;
}
#span{
    color: #FFA500;
}
.left img{
    width: 100%;
}
.btn {
    margin-top: -5px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.mid-banner {
    max-width: 100%;
    background-image: url("/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 50px;
}
.exp{
    background-image: url("/images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.exp .left{
    box-shadow: 10px 10px 40px gray;
    border-radius: 2px;
    height: 80%;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
.h3{
    color: #FFA500;
}
#card1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#card2 {
    border-left: 7px solid;
    border-image: linear-gradient(#0023FF, #00FDFF);
    border-image-slice: 1;
}
footer{
    text-align: center;
}